%header
  %h1 Pelaajat

%nav#contextNavi
  %a{:href => new_admin_member_path, :title => 'Luo uusi pelaaja'}= image_tag('add.png', :size => '16x16')
  %a{:href => new_admin_member_path}= 'Luo uusi pelaaja'

%table
  %thead
    %tr
      %th Nimi
      %th Muokkaa
      
  %tbody
    - @members.each do |member|
      %tr{ :class => cycle(:odd, :even) }
        %td= member
        %td.action= link_to image_tag('pencil.png'), edit_admin_member_path(member), :title => 'Muokkaa'