= form.inputs do
  = form.input :sections, :as => :check_boxes, :label => 'Joukkueosiot',
    :collection => Section.leafs
  = form.input :title, :label => 'Otsikko'
  = form.input :content, :label => 'Sisältö'
