%h1 Listing admin_matches

%table
  %tr
    %th
    %th
    %th

  - @admin_matches.each do |admin_match|
    %tr
      %td= link_to 'Show', admin_match
      %td= link_to 'Edit', edit_admin_match_path(admin_match)
      %td= link_to 'Destroy', admin_match, :confirm => 'Are you sure?', :method => :delete

%br

= link_to 'New Match', new_admin_match_path
