body, html {
  background-color:#f7f8fb;
  height:100%;
}

.center-wrap {
  width:1010px;
  margin:auto;
}

div#header-wrapper {
  border-bottom: 1px solid #e1e1e1;
  background-color:#ececec;
}

div#wrapper {
  min-height:100%;
}

h1 {
  font:bold 2.2em Arial, Helvetica, sans-serif;
  letter-spacing:0.09em;
}

h2 {
  font:bold 1.7em Arial, Helvetica, sans-serif;
  margin-top:10px;
}
img {
	border:none;
}
header#main {
  padding:8px 5px 0 10px;
  color:#303032;
}

header#main h1 {
  display: inline;
  vertical-align:super;
  font:normal bold 2.7em Arial, sans-serif;
  letter-spacing:0.09em;
  padding-left:12px;
}
#main-wrapper {
  padding-bottom:40px;
}
.TeamChange {
  margin-top:10px;
  letter-spacing:normal;
  float:right;
  font-size:14px;
}
.TeamChange form {
  margin-top:5px;
}
.TeamChange a {
  color:#526893;
}

section#content {
  margin:20px 10px 20px 10px;
  background-color:#F9F9F9;
}

#content fieldset {
  background-color: #F9F9F9;
  border: 1px solid #e4dee1;
  padding:10px;
}

#content a {
  color:blue;
}

#content img {
  vertical-align: middle;
}

#content table {
  border-collapse:collapse;
  border-bottom:1px solid #000000;
}

#content th {
  font: bold 1.1em Arial, Helvetica, sans-serif;
  border-bottom: 1px solid #000000;
}

#alert, #notice {
padding:5px;
}

#alert {
  border:2px solid #8f2310;
  background-color:#f2c0bd;
  color:#8f2310;
}

#notice {
  border:2px solid #0b4d22;
  color:#0b4d22;
  background-color:#18bf53;
}

tr.even {
  background-color:#f4f4f4;
}

tr.row_contains_errors {
  background-color:#f2c0bd;
}

.inputs ol, .buttons ol {
  list-style: none;
}

fieldset.inputs ol li.inline-input {
  display: inline-block;
  float:left;
}

fieldset.inputs ol li.inline-input:first-child {
  margin-right:30px;
}

fieldset.inputs ol li.inline-input input {
  width:361px;
}
button.remove-question {
  float:right;
}
nav#global {
  margin:12px 0 -1px;
  clear:both;
}

nav#global ul {
  list-style:none;
}

nav#global ul li {
  display:inline-block;
  background-color:#5562bc;
  margin-right:10px;
  padding:8px;
  border:1px solid #e1e1e1;
}

nav#global ul li.selected {
  background-color:#F9F9F9;
  border-bottom-color:#F9F9F9;
}

nav#global ul li a {
  text-decoration:none;
  font:normal bold 1.1em/1.5em Arial, sans-serif;
  color:#ffffff;
  text-transform: uppercase;
}

nav#global ul li.selected a {
  color:#f68d28;
}

#contextNavi {
  border: 1px solid #e4dee1;
  margin:16px 0 20px 0;
  padding:5px;
  line-height:2em;
}

#contextNavi a {
  font-weight: bold;
  color:#f68d28;
}

table tbody tr td {
  padding:3px;
}
table tbody tr td:first-child {
  padding-right:30px;
}

td.action {
  text-align: center;
}

#memberSelection {
  width: 100%;
  overflow: hidden;
}

#memberSelection h2 {
  text-align: center;
}

.selectedTeam {
  border: solid 1px #e4dee1;
  width: 460px;
  overflow: hidden;
  padding:0 10px 0 10px;
}

.memberColumn {
  float:left;
  width:200px;
  min-height: 40px;
  margin-right:15px;
}

.memberColumn h3 {
  margin-bottom:0;
  line-height: 0.7em;
}

.memberColumn ul {
  padding:4px;
  background-color:#C4D1EB;
  border:1px solid #e4dee1;
  min-height:30px;
  list-style:none;
}

.memberColumn li {
  margin:3px;
  padding-left:5px;
  background-color:#FFFFFF;
  border: solid 1px #e4dee1;
  line-height: 1.9em;
  cursor:move;
}
.memberColumn li:last-child {
  margin-bottom:1.9em;
}

.ui-draggable-dragging {
  list-style: none;
}
.ui-state-hover {
  background-color: #4477CC;
}

h1.postTitle {
  font: bold 1.8em Arial, Helvetica, sans-serif;
  margin:15px 0 0 0;
}

.postTitle a {
  color: #000000 !important;
  text-decoration: none;
}

.postTitle a:hover {
  color:#333333 !important;
  text-decoration:underline;
}

button.new-question {
  margin:10px;
}

time {
  margin:10px 0 10px 0;
  color:#5F5F61;
}

li.check_boxes fieldset, li.radio fieldset {
  padding:10px 0 10px 0;
}

footer {
  border-top:2px solid #e4dee1;
  font:bold normal 0.90em/1.4em Arial, Helvetica, sans-serif;
  clear:both;
  color:#ffffff;
  position:relative;
  margin-top:-40px; /* negative value of footer height */
  height:38px;
  background-color:#5562bc;
}
#footer a {
  color:#ffffff;
}