body {
    margin:0px;
    padding:0px;
}
h1 {
    font: bold 2.2em Arial, Helvetica, sans-serif;
    letter-spacing:.09em;
    
}
img {
	border:none;
}
#header {
    background-color: #f9f9f9;
    border-right:10px solid #c4d1eb;
    border-bottom:1px solid #e4dee1;
    border-left:10px solid #c4d1eb;
    margin:0px;
    padding:8px 5px 5px 10px;
    color:#303032;
    height:65px;
}
#header_left {
    float:left;
}
span#header_text {
    vertical-align:super;
    font:bold 2.6em Arial, Helvetica, sans-serif;
    letter-spacing:.09em;
    padding-left:10px;
}
.TeamChange {
    margin-top:10px;
    letter-spacing:normal;
    float:right;
    font-size:14px;
}
.TeamChange form {
    margin-top:5px;
}
.TeamChange a {
    color:#526893;
}

.RightCornerFunctions {
    color:#526893;
    float:right;
    font-weight:600;
    margin-top:10px;
    clear:both;
}
.RightCornerFunctions form {
    display:inline;
}

#EndingYear {
    display:inline;
}

#Breadcrumb {
    clear:both;
    font-size: 12px;
    font-family: Arial, Helvetica, sans-serif;
    padding:0;
    margin:55px 0 0 5px;
}

div#content {
    margin:20px 10px 20px 300px;
    border:1px solid #e4dee1;
    padding:10px;
}

#content fieldset {
    background-color: #F9F9F9;
    border: 1px solid #e4dee1;
}

#content a {
    color:blue;
}

#content img {
    vertical-align: middle;
}

#content table {
    border-collapse:collapse;
    border-bottom:1px solid #000000;
}

#content th {
    font: bold 1.1em Arial, Helvetica, sans-serif;
    border-bottom: 1px solid #000000;
}

#content td {
    padding:3px;
}

#alert, #notice {
  padding:5px;
}

#alert {
  border:2px solid #8f2310;
  background-color:#f2c0bd;
  color:#8f2310;
}

#notice {
  border:2px solid #0b4d22;
  color:#0b4d22;
  background-color:#18bf53;
}

tr.even {
    background-color:#f4f4f4;
}

.inputs ol, .buttons ol {
  list-style: none;
}

#menu {
    margin-top:1px;
    float:left;
    width:280px;
    border-right:10px solid #C4D1EB; 
    overflow:hidden;
    margin-right:20px;
    font-size:12px;
    background-color:#f9f9f9;   
}

#menu ul{
    list-style: none;
    margin:0;
    padding:0;
    border-color:#C4D1EB;
    border-bottom-width:1px;
    border-bottom-style:solid;
}

#menu ul li {
    margin-bottom:1px;
    width:280px;
    padding:0px;
}

#menu ul li a {
    display:block;
    padding-left:5px;
    line-height:20px;
    width:254px;
    
    font-size:13px;
    font-weight:bold;
    font-family:Arial, Helvetica, sans-serif;
    color:#f9f9f9;
    text-decoration:none;
    letter-spacing:.1em;
    background-color:#526893;
    
    border-right-width:10px;
    border-right-style:solid;
    border-left-width:10px;
    border-left-style:solid;
    border-left-color:#7E9AD3;
    border-right-color:#7E9AD3;
}

#menu a:hover, #menu a.Active {
    background-color:#7899cf;
    border-color:#4477cc;
}

.MenuSubItem {
    border-left-color:#FFFFFF;
    border-left-style:solid;
    border-left-width:10px;
}

#contextNavi {
  border: 1px solid #e4dee1;
  margin:16px 0 20px 0;
  padding:5px;
  line-height: 2em;
  font-weight: bold;
}

#contextNavi a {
  font-weight: normal;
}

td.action {
  text-align: center;
}

#memberSelection {
  width: 100%;
  overflow: hidden;
}

#memberSelection h2 {
  text-align: center;
}

.selectedTeam {
  border: solid 1px #e4dee1;
  width: 460px;
  overflow: hidden;
  padding:0 10px 0 10px;
}

.memberColumn {
  float:left;
  width:200px;
  min-height: 40px;
  margin-right:15px;
}

.memberColumn h3 {
  margin-bottom:0;
  line-height: 0.7em;
}

.memberColumn ul {
  padding:4px;
  background-color:#C4D1EB;
  border:1px solid #e4dee1;
  min-height:30px;
  list-style:none;
}

.memberColumn li {
  margin:3px;
  padding-left:5px;
  background-color:#FFFFFF;
  border: solid 1px #e4dee1;
  line-height: 1.9em;
  cursor:move;
}
.memberColumn li:last-child {
  margin-bottom:1.9em;
}

.ui-draggable-dragging {
  list-style: none;
}
.ui-state-hover {
  background-color: #4477CC;
}

#footer {
  background-color: #f9f9f9;
  border:1px solid #e4dee1;
  border-right:10px solid #c4d1eb;
  border-left:10px solid #c4d1eb;
  font:bold 0.90em Arial, Helvetica, sans-serif;
  padding:4px 0 4px 10px;
  clear:both;
  color:#7e7e7e;
}
#footer a {
  color:#7e7e7e;
}