body {
	margin:0px;
	padding:0px;
	font-family:"Trebuchet MS", Verdana, Arial, Helvetica, sans-serif;
	background-color:#f7f8fb;
	color:#5f5f61;
}

h1 {
  
}

h2 {
  font-family:Georgia, Verdana, Arial, Serif;
  font-weight: normal;
  letter-spacing: 0.1em;
}

.center-wrapper {
  margin:auto;
  width:988px;
}

#top {
  height:60px;
  background-color:#768ec5;
}

#header-wrapper {
	height:200px;
	background-color:#C4D1EB;
}

#header img {
  margin-top:10px;
  vertical-align:middle;
}

#header p {
  display: inline;
  font: normal 3em verdana, arial, helvetica, sans-seri;
  padding-left:30px; 
}

#breadcrumb {

  
	font: normal 0.8em verdana, arial, helvetica, sans-seri;
}

#breadcrumb, #content, #supporters, #frontpage-news, #frontpage-matches {
  border:1px solid #e1e1e2;
  margin-top:10px;
  padding:10px;
}


.column-in
{
	font-family: Arial, Helvetica, sans-serif;
	margin:0; padding:0.5em 1em;
}
	

#content {

}

#supporters {
  clear:both;
}

.jcarousel-item {
  margin:10px;
}

#frontpage-matches {
  float:left;
  width:350px;
  margin-right:10px;
  margin-bottom:10px;
}

#frontpage-news {
  float:left;
  width:584px;
}

#main h1 
{
	border-left:5px solid #4e628b;
	font-family:"Trebuchet MS", Verdana, Arial, Helvetica, sans-serif;
	font-weight:bold;
	font-size: 2.50em;	
	margin:0 0 10px 0;
	line-height:105%;
	padding: 8px 15px 8px 10px;
	letter-spacing:0.05em;
	background-color:#e5eef9;
}

#main h2 {
	word-spacing:0.15em;
	font-family:"Trebuchet MS", Verdana, Arial, Helvetica, sans-serif;
	font-weight: normal;	
	font-size: 20px;
	color:#4e628b;
	margin: 6px 0 0 0;
	padding:0;
}

.cleaner
{
	clear:both;
	height:0px;
	margin:0; padding:0;		
}		

.hiddenfield {
  display: none;
}

#footer
{
	margin:8px 0 0 2px;	
	border-bottom: solid 1px #c0cdda;
	border-top: solid 1px #c0cdda;
	width:982px;
	background-color: #f5f5f5;
}
#footer p
{
	margin:0;
	font-size:12px;
	color: #777;
	padding-left: 10px;
	vertical-align: middle;
	line-height: 30px;
}

table.statistics
{
	border-collapse:collapse;
	text-align:center;
}

.statistics th
{
    border-bottom:2px solid #e4dee1;
}

.statistics td:first-child
{
    text-align:left;
}