body {
	background: #f9f9f9 url(/images/main-bg.gif) top left repeat-x;
	margin:0px;
	padding:0px;
	font-family:"Trebuchet MS", Verdana, Arial, Helvetica, sans-serif;
}
#main-wrapper {
	margin:auto;
	width:988px;
}		

#header {
	margin:0px 0px -26px 0px;
	height:220px;
	background: url(/images/header.png) no-repeat;
}

#top
{
	padding:0 4px 0 4px;
	background: url(/images/top-border-bg.gif) top left repeat-y;
}

#breadcrumb {
	font: normal 11px verdana, arial, helvetica, sans-seri;
	margin:0 0 0 0px;
	padding:0;
	height:25px;
}

ul#sectionMenu
{
	width: 960px;	    
	clear: both;
	height:32px;
	line-height:26px;
	margin:0 0 4px 15px;
	padding:0 0 0px 0;
	list-style:none;
    font-size: 0.96em;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
	letter-spacing: 0.06em;
}
#sectionMenu li
{
	display:inline;	
    padding: 3px 5px 5px 5px;
	margin:0 0 0px 0;
	border-left:solid 1px #c7c9cb;
}
#sectionMenu li:first-child
{
	padding-right:0;
	margin-right:5px;
	border:none;
}

li#selectedTab
{
	color: #f9f9f9;	
    margin:0 3px 0 3px;
	padding:4px 0 6px 0;	
	border:none;
	background-color:#526893;	
}

#selectedTab img
{
	vertical-align:top;
}

#sectionMenu a {
	color: #000000;
}

#sectionMenu a:hover {
	color: #0052AD;
	text-decoration: none;
}
#sectionMenu a:visited
{
	color:#828282;
}

.column-in
{
	font-family: Arial, Helvetica, sans-serif;
	margin:0; padding:0.5em 1em;
}
	
#menu
{
	float:left;
	width:148px;
	font-size:1.1em;
	margin-right:0;
}

#menu ul
{
	padding:0;
	margin:1px 0 0 2px;
	list-style:none;
}

#menu li
{	
	line-height:32px;
	border-top:solid 1px #c0cdda;
	padding:0 0 0 6px;
}

li#selectedMenu
{
	border-left:1px solid #4e628b;
}

#menu li:first-child
{
    border:none;
}

#menu li:hover
{
	background-color:#e5eef9;
}

#menu .subMenuItem
{
	line-height:26px;
	margin-top:0px;
	padding-left:15px;
	font-size:0.95em;
	border:none;	
}

#menu li a {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 0.9em;
	font-weight: bolder;
	text-decoration: none;
	color:#000000;
}

#menu a:hover
{
	text-decoration: underline;
}
	
#right
{
	font-size:12px;
	float:right;
	width:200px;
	margin:0;
	padding:0;
}
#right div {
	border-bottom: 1px solid #c0cdda;
}

#right h3, #right h4 {
	word-spacing:0.15em;
	/*font-family: Georgia, Times, "Times New Roman", serif;*/
	font-family:"Trebuchet MS", Verdana, Arial, Helvetica, sans-serif;
	font-size: 16px;
	margin: 5px 0 2px 0;
	color:#4e628b;
}

#right h4 {
	font-size: 13px;
}

#supports {
	padding:0;
	margin:0;
}
#supports ul
{
	text-align:center;
	padding:0;
	list-style-type:none;
	margin:0;
}
#supports li { padding:0 0 3px 0; }
#supports img { border:none;}
	
#content
{
	margin: 0 0 0px 150px;
	background: #f9f9f9;
	padding:0 10px 0 10px;
	width:615px;
	border-left:1px solid #c0cdda;
	border-right:1px solid #c0cdda;
}

#wideContent {
	margin:0 10px 0 10px;
	background: #f9f9f9;
}

#main {
	padding:0 4px 0 1px;
	background: #f9f9f9 url(../img/bottom-border-bg.gif) top left repeat-y;
	font:13px/1.7em Verdana;
}

#main a {
    color:blue;
}
#main a:visited
{
 color:#6c89c2;	
}

#main h1 
{
	border-left:5px solid #4e628b;
	font-family:"Trebuchet MS", Verdana, Arial, Helvetica, sans-serif;
	font-weight:bold;
	font-size: 2.50em;	
	margin:0 0 10px 0;
	line-height:105%;
	padding: 8px 15px 8px 10px;
	letter-spacing:0.05em;
	background-color:#e5eef9;
}

#main h2 {
	word-spacing:0.15em;
	font-family:"Trebuchet MS", Verdana, Arial, Helvetica, sans-serif;
	font-weight: normal;	
	font-size: 20px;
	color:#4e628b;
	margin: 6px 0 0 0;
	padding:0;
}

#main p
{
	margin: 0px;	
}

.message
{
	border-bottom: solid 1px #c0cdda;
	padding: 4px 0 4px 3px;
	margin-bottom: 4px;
}

.meta
{
	font-size: 11px;
	color: #777;
	padding:0;
	margin:0;
}

.cleaner
{
	clear:both;
	height:0px;
	margin:0; padding:0;		
}		

.homeCol {
	width: 33%;
	float: left;
}
ul.linkList
{
	list-style:none;
	margin:0;
	padding:0;
}

.linkList li a
{
	text-decoration: none;
}

.linkList li a:hover
{
	text-decoration: underline;
}

.linkList li
{
	border-bottom: 1px dotted #c0cdda;		
}

.linkList li:first-child
{
    border-top: 1px dotted #c0cdda;
}
.linkList li:hover
{
	background-color: #e5eef9;
}

.linkList p
{
	margin:2px 0 2px 0;			
}

.hiddenfield
{
	display: none;	
}

.error
{
	color:#FF0000;
	font-weight:bold;
}

#footer
{
	margin:8px 0 0 2px;	
	border-bottom: solid 1px #c0cdda;
	border-top: solid 1px #c0cdda;
	width:982px;
	background-color: #f5f5f5;
}
#footer p
{
	margin:0;
	font-size:12px;
	color: #777;
	padding-left: 10px;
	vertical-align: middle;
	line-height: 30px;
}

#main label
{
	display:block;
}

table.statistics
{
	border-collapse:collapse;
	text-align:center;
}

.statistics th
{
    border-bottom:2px solid #e4dee1;
}

.statistics td:first-child
{
    text-align:left;
}