- semantic_form_for @section, :url => url do |form| 
  - form.inputs do
    = form.input :slug, :label => 'Slug'
    = form.input :name, :label => 'Name'
    = form.input :parent, :as => :select, :collection => Section.possible_parents
  
  - form.buttons do
    = form.commit_button