%header
  %h1 Uusi joukkueosio

%nav#contextNavi
  = link_to image_tag('arrow_left.png', :size => '16x16'), admin_sections_path
  = link_to 'Takaisin', admin_sections_path

= render :partial => "form", :locals => {:url => admin_sections_path(@section)}