%h1 Luo uusi linkki linkkikategoriaan '#{@category}'

#contextNavi
  = link_to image_tag('arrow_left.png', :size => '16x16'), admin_link_category_path(@category)
  = link_to 'Takaisin', admin_link_category_path(@category)

= render :partial => 'form', :locals => {:url => admin_link_category_links_path(@category)}