class QAItemHandler
  constructor: (@container, @availableQuestions) ->
    @questionNumber = 0
    
  init: ->
    @addMoreButton()
    @addRemoveButtons()
    $(".question").autocomplete({source: @availableQuestions})
  
  addOrderedListHtml: ->
    @fieldset.append('<ol></ol>')
    @orderedList = @fieldset.children().first()
    
  addMoreButton: ->
    addButton = $('<button type="button" class="new-question"><img alt="Add" src="<%= asset_path('add.png') %>" /> Uusi kysymys</button>')
    @container.after(addButton)
    addButton.click =>
      @addNewQuestion()

  addRemoveButtons: ->
    #@container.children('fieldset').append(@createRemoveButton())
    @container.children('fieldset').each (index, fieldset) =>
      $(fieldset).append(@createRemoveButton())
      @questionNumber++

    
  createRemoveButton: ->
    removeButton = $('<button type="button" class="remove-question"><img alt="cross" src="<%= asset_path('cross.png') %>" /></button>')
    removeButton.bind 'click', {questionIndex: @questionNumber}, (event) =>
      @removeQuestion(event)
      
    removeButton

  removeQuestion: (event) ->
    @markForDestruction(event.data.questionIndex)
    @removeParentFieldset(event.target)

  markForDestruction: (index) ->
    idInput = @container.children("#member_questions_attributes_#{index}_id")
    if idInput.length == 1
      hiddenInput = $("<input id='member_questions_attributes_#{index}_destroy' name='member[questions_attributes][#{index}][_destroy]' type='hidden' value='1' />")
      @container.append(hiddenInput)
      
  removeParentFieldset: (child) ->
    $(child).closest('fieldset').remove()

  addNewQuestion: ->
    fieldset = $('<fieldset class="inputs"></fieldset>')
    @container.append(fieldset)
    
    orderedList = $('<ol></ol>')
    fieldset.append(orderedList)
    
    orderedList.append("<li class='string required inline-input' id='member_questions_attributes_#{@questionNumber}_content_input'><label for='member_questions_attributes_#{@questionNumber}_content'>Kysymys<abbr title='required'>*</abbr></label><input id='member_questions_attributes_#{@questionNumber}_content' class='question' maxlength='255' name='member[questions_attributes][#{@questionNumber}][content]' type='text' /></li>")
    
    lastQuestionInput = orderedList.find(':input:').last()
    lastQuestionInput.autocomplete({source: @availableQuestions})
    lastQuestionInput.select()
    
    orderedList.append("<li class='string required inline-input' id='member_questions_attributes_#{@questionNumber}_answer_input'><label for='member_questions_attributes_#{@questionNumber}_answer'>Vastaus<abbr title='required'>*</abbr></label><input id='member_questions_attributes_#{@questionNumber}_answer' maxlength='255' name='member[questions_attributes][#{@questionNumber}][answer]' type='text' /></li>")
    
    fieldset.append(@createRemoveButton())
    @questionNumber++

window.QAItemHandler = QAItemHandler