ul.topnav {
  list-style:none;
  padding: 0 20px;
  margin: 0;
  float:left;
  font-size: 1.2em;
}
ul.topnav li {
  float:left;
  margin:0;
  padding:13px 20px 0 20px;
  position:relative; /*--Declare X and Y axis base for sub navigation--*/
  height:32px;
  color:#f7f8fb;
  text-transform:uppercase;
  letter-spacing: 0.1em;
  border-right:1px solid #5565ae;
}

ul.topnav li:first-child{ border-left:1px solid #5565ae; }

ul.topnav li img {
  margin:0 0 0 3px;
}
ul.topnav li a{
  color: #f7f8fb;
  display: block;
  float: left;
  text-decoration:none;
}

ul.topnav li ul.subnav {
  position:absolute; /* Keeps subnav from affecting main navigation flow*/
  left: 0; top: 45px;
  background:#f7f8fb;
  margin: 0; padding: 0;
  display: none;
  width: 200px;
  border: 1px solid #e1e1e2;
  border-top:none;
  list-style:none;
  float:left;
}

ul.topnav li ul.subnav li{
  clear:both;
  margin:0;
  padding: 10px 5px;
  width: 190px;
  line-height: 0.6em;
  height:auto;
  text-transform:none;
  border:none;
}

ul.topnav li ul.subnav li.section{
  margin-top:15px;
  border-top: 1px solid #e1e1e2;
  padding-top:4px;
}

ul.topnav li ul.subnav li.section:first-child {
  border-top:none;
}

ul.topnav li ul.subnav li a {
  float: left;
  color:#5f5f61;
  padding-left: 20px;
  text-decoration: underline;
  display: block;
  font-size:0.8em;
  line-height:0.4em;
}

ul.topnav li ul.subnav li.section a{
  font-size:1em;
  padding:10px 0 0 5px;
  font-weight:bold;
}

ul.topnav li ul.subnav li.section:first-child a{
  padding-top:0;
}

ul.topnav li ul.subnav li a:hover { /*--Hover effect for subnav links--*/
  text-decoration: none;
}

ul.topnav li.subhover{
  background:#f7f8fb;
  color:#5f5f61;
}

ul.topnav li.subhover a{
  color:#5f5f61;
}
