/************************************************
 * Columns
 */
.frontpage-right-col section { width:360px; }

div.frontpage-right-col, section#frontpage-news {
  float:left;
  margin-bottom:10px;
}

section#frontpage-news {
  width:570px;
  margin:10px 10px 0 0;
}

/************************************************
 * Banner
 */
$banner-height: 331px;
$caption-height: 50px;

div#frontpage-banner {
  border:1px solid #CCC;
  margin:10px 0 0 0;
  background-image: image-url("banner.jpg");
  width: 974px;
  height: $banner-height;
  background-repeat: none;
  box-shadow: 2px 2px 12px 1px #cfcdcd;
}

div#frontpage-banner-caption {
  margin-top: $banner-height - $caption-height;
  opacity:0.85;
  background-color:#F7F9FD;
  overflow:hidden;
  width:956px;
  height: $caption-height;
  font-family:'Molengo', Verdana, Arial, Helvetica, sans-serif;
  font-size:2.1em;
  padding-left:18px;
}

/************************************************
 * Facebook
 */
iframe.like-box {
  overflow:hidden;
  width:350px;
  height:62px;
  border:none;
}
