body, html {
  font-family:"Trebuchet MS", Verdana, Arial, Helvetica, sans-serif;
  background-color:#444861;
  color:#565656;
  height:100%;
}

a { color:#3080c8; }

a:hover, .meta a:hover { color:#4e628b; }

#container {
  min-height:100%;
  width:990px;
  margin:auto;
  border-left:6px solid #4E5582;
  border-right:6px solid #4E5582;
  background-color:#192154;
}

/************************************************
 * Header
*/
header#main-header {
  height:170px;
  background-image: image-url("header.png");
}

#main-header img {
  position: absolute;
  margin:6px 0 0 8px;
}

/************************************************
 * SectionGroup level navigation
 */
nav#global-nav {
  display: inline-block;
  background-color:#7B6221;
  height: 40px;
  width: 100%;  
  margin-top:130px;
  
}

nav#global-nav ul {
  list-style:none;
  padding: 0 20px;
  margin: 0 0 0 150px;
  font-size: 1.2em;
}

nav#global-nav ul li {
  float:left;
  margin:0 6px 0 6px;
  padding:13px 20px 0 20px;
  height:26px;
  color:#f7f8fb;
  letter-spacing: 0.1em;
}

nav#global-nav ul li.selected {
  background-color:#f7f8fb;
}

nav#global-nav ul li a {
  color: #f7f8fb;
  text-decoration:none;
}

nav#global-nav ul li.selected a {
  color: #435396;
}

/************************************************
 * Section level navigation 
 */
nav#global-sub-nav ul {
  margin: 10px 0 0 173px;
}

nav#global-sub-nav ul li {
  display: inline-block;
  margin-left:8px;
  padding: 5px 10px 5px 10px;
}

nav#global-sub-nav ul li.selected {
  background-color: #435396;
  border-radius: 6px;
  border: 1px solid #50609f;
} 

nav#global-sub-nav ul li a {
  color: #435396;
}

nav#global-sub-nav ul li.selected a {
  color: #f7f8fb;
}


.basic-box, #frontpage-news, section#main, article#news {
  border:1px solid #e1e1e2;
  margin-top:10px;
  padding:8px;
  background-color:#ffffff;
}

.frontpage-right-col section { width:359px; }

/************************************************
 * Section specific navigation
 */
nav#section-nav {
  float:left;
  width:210px;
  margin:10px 10px 0 0;
}

nav#section-nav h1 {
  background-color:#435396;
  border:1px solid #e1e1e2;
  color:#f7f8fb;
  font-size:1.6em;
  line-height:1.7em;
  padding-left:10px;
  margin:0;
}

nav#section-nav ul {
  margin:0 4px 0 4px;
  padding:0 10px 10px 10px;
  border:1px solid #e1e1e2;
  border-top:none;
  background-color:#ffffff;
}

nav#section-nav ul li {
  border-bottom:1px solid #e1e1e2;
  line-height: 2.9em;
  padding-left: 10px;
  font-size:15px;
}

/************************************************
 * Second level in section navigation
 */
nav#section-nav ul li ul { border:none; }
nav#section-nav ul li ul li {
  border:none;
  font-size:12px;
  line-height:1.8em;
}

a.selected { text-decoration: none; }

nav.pagination {
  margin: 10px 0 10px;
}

.jcarousel-item {
  margin:10px;
}

.jcarousel-item img {
  border:none;
}

.jcarousel-clip-horizontal { overflow-x: hidden; }

div#frontpage-banner { padding:0; }

div#frontpage-banner img {
  border:1px solid #CCC;
  margin:10px 0 0 10px;
}

article#news header h1, h2.news { text-transform:uppercase;}

div#frontpage-banner-caption {
  opacity:0.85;
  background-color:#F7F9FD;
  position:relative;
  overflow:hidden;
  width:938px;
  height:60px;
  top:444px;
  margin-top:-60px;
  left:11px;
  font-family:'Molengo', Verdana, Arial, Helvetica, sans-serif;
  font-size:3.1em;
  padding-left:28px;
}

div.frontpage-right-col, section#frontpage-news {
  float:left;
  margin-bottom:10px;
}

section, article#news {
  background-color:#ffffff;
}

section#frontpage-matches {
  width:350px;
}

section#frontpage-news {
  width:565px;
  margin:10px 10px 0 10px;
}

div#main-container {
  padding-bottom:310px; /*footer height + 40px*/
  overflow:auto;
}
section#main { overflow:hidden; }

#main-container h1 {
  font-family:'Molengo', Verdana, Arial, Helvetica, sans-serif;
  font-weight:normal;
  font-size: 3em;
  margin:10px 0 20px;
  line-height:105%;
  padding: 8px 15px 8px 10px;
  letter-spacing:0.05em;
}

#main-container h2 {
  word-spacing:0.15em;
  font-family:"Trebuchet MS", Verdana, Arial, Helvetica, sans-serif;
  font-weight: normal;  
  font-size:20px;
  margin: 16px 0 4px 0;
  padding:0;
}

#main-container h3 {
  word-spacing:0.15em;
  font-family:"Trebuchet MS", Verdana, Arial, Helvetica, sans-serif;
  font-weight:normal;
  font-size:16px;
  margin:26px 0 4px 0;
  padding:0;
}

.meta {
  color:#999;
  font-size:11px;
}

time.meta, .meta time { font-style:italic; }

.meta a { color:#999; }

article.entry {
  margin-top:25px;
  border-bottom:1px solid #E1E1E2;
  padding-bottom:10px;
}

article p {
  margin:10px 0 0 10px;
}

.entry {
  margin: 20px 0 20px;
}

aside#supporters { background-color: #ececec; }

aside#supporters h1 {
  color:#565656;
  font-family:'Molengo', Verdana, Arial, Helvetica, sans-serif;
  font-size:1.7em;
  font-weight:normal;
  margin:0 0 10px 10px;
}

.jcarousel-container-horizontal {
  width:954px;
  padding-left:10px;
}

ul#supporter-carousel { display:none; }

footer {
  position: relative;
  width:100%;
  margin-top:-270px;
  height:270px;
  background:#435396;
  clear:both;
  color: #FFFFFF;
}

form.comment ol {
  list-style: none;
}

form.comment ol label{
  display: block;
}

form.comment ol li{
  margin:12px 0 12px 0;
}

form.comment p.inline-errors {
  color: #FF0000;
  margin-bottom: 8px;
}

form.comment fieldset.inputs input {
  width:300px;
}

dl#links dt {
  margin-top:10px;
  font-weight:bold;
  font-size:1.5em;
}

dl#links dd {
  padding-left:10px;
}

table#statistics thead tr th {
  padding: 0 5px 0 5px;
}

table#statistics thead tr{
  border-bottom: 1px solid black;
}

table#statistics tbody tr { line-height:26px; }

table#statistics tbody tr td {
  text-align:center;
  padding:0 10px 0 10px;
}

table#statistics tbody tr td:first-child {
  padding:0 30px 0 0;
  text-align:left;
}

tr.even {
  background-color:#EEEEEE;
}

div.parallel-col {
  float:left;
  margin-right: 100px;
}

div.parallel-col ul {
  list-style:none;
  margin:0;
  padding:0;
}

div.parallel-col ul li {
  line-height: 1.8em;
}

div#player-pic {
  float:left;
  border:1px solid #CCCCCC;
  border-radius:3px;
  margin:0 20px 20px 0;
}

div#player-pic img {
  margin:4px;
}

div#player-info ul {
  list-style: none;
  margin:0;
}

div#player-info ul li { margin-bottom:6px; }

ul#photo-gallery {
  margin:0;
}

ul#photo-gallery li {
  list-style:none;
  width:355px;
  margin:0 0 20px 10px;
  display:inline-block;
  vertical-align:top;
  background:#F7F9FD;
  border:1px solid #E7F0F5;
}

ul#photo-gallery li article {
  padding:10px;
  vertical-align:top;
}

ul#photo-gallery li article img {
  float:left;
  margin:0 10px 10px 0;
}

ul#photo-gallery li article h1 {
  font-size: 1.4em;
  margin:0 0 6px 0;
  padding:0;
  vertical-align:top;
}

div#photo-album {
  margin-left:0px;
}

div#photo-album img {
  margin:1px;
  vertical-align: middle;
}

img.gallery-photo {
  border:1px solid #CCCCCC;
  padding:4px;
  display:block;
  margin-left:auto;
  margin-right:auto;
}

nav.photo-pagination {
  margin:5px;
  text-align:center;
}

.photo-pagination a { margin:0 9px 0 9px; }

p.caption {
  font-weight: bold;
  margin-left:10px;
}

.picasa-link img {
  margin-top:20px;
}

iframe.like-box {
  overflow:hidden;
  width:350px;
  height:62px;
  border:none;
}

ul.seasons {
  list-style: none;
}

ul.seasons li {
  line-height:28px;
}
