%h1 Tervetuloa ISB:n hallintasivujen käyttäjäksi!
%p Voit vahvistaa tilisi ja valita salasanasi käyttäen #{link_to('tätä linkkiä', confirmation_url(@resource, :confirmation_token => @resource.confirmation_token))} tai vierailemalla tässä osoitteessa:
%p= confirmation_url(@resource, :confirmation_token => @resource.confirmation_token)
%p Tilin vahvistamisen ja salasanan valitsemisen jälkeen voit kirjautua hallintasivuille osoitteessa #{new_user_session_url()}.

%p Käyttäjätunnuksesi on: #{@resource.email}

%p Jos kohtaat ongelmia, niin ota yhteyttä sähköpostilla osoitteeseen isb@isb.fi
