%p
  Hei #{@resource.first_name} #{@resource.last_name}!
%p Joku on pyytänyt linkkiä, jolla voit vaihtaa unohtuneen salasanasi. Voit vaihtaa salasanasi alla olevan linkin kautta.
%p= link_to 'Vaihda salasanani', edit_password_url(@resource, :reset_password_token => @resource.reset_password_token)
%p Voit jättää huomioimatta tämän viestin, jos et pyytänyt tätä.
%p Salasanasi ei vaihdu, ennen kuin seuraat linkkiä ja asetat uuden salasanan.
