<!--[if lt IE 7 ]> <html lang="fi" class="no-js ie6"> <![endif]-->
<!--[if IE 7 ]>    <html lang="fi" class="no-js ie7"> <![endif]-->
<!--[if IE 8 ]>    <html lang="fi" class="no-js ie8"> <![endif]-->
<!--[if IE 9 ]>    <html lang="fi" class="no-js ie9"> <![endif]-->
<!--[if (gt IE 9)|!(IE)]><!--> <html lang="fi" class="no-js"> <!--<![endif]-->

%head
  %meta{ :charset => 'UTF-8' }
  %meta{ :name => "description", :content => @meta_description }
  %meta{ :name => "keywords", :content => "Ilmajoen, Salibandy, ISB, Ilmajoki" }
  %meta{ :name => "author", :content => "Ilmajoen Salibandy ry" }
  %meta{ :name => 'og:image', :content => fb_logo_path }
  
  =favicon_link_tag "favicon.ico"
  %title= @meta_title
  = stylesheet_link_tag "application", "http://fonts.googleapis.com/css?family=Molengo"
  = javascript_include_tag "modernizr.custom.js"
  
  - if Rails.env.production?
    = javascript_include_tag "http://www.google-analytics.com/urchin.js"
    :javascript
      _uacct = "UA-122143-1";
      urchinTracker();
