%head
  %meta{ :charset => 'UTF-8' }
  %meta{ "http-equiv" => "X-UA-Compatible", :content => "IE=edge,chrome=1" }
  %meta{ :name => "description", :content => "" }
  %meta{ :name => "author", :content => "" }
  
  %link{ :rel => "shortcut icon", :href => "/favicon.ico", :type => "image/x-icon"}/
  %title= "Ilmajoen Salibandy"
  = stylesheet_link_tag "style.css?v=2", "dropdown", "http://fonts.googleapis.com/css?family=Molengo"
  = javascript_include_tag "modernizr-1.7.min"